html{overflow-y:auto;overflow-x:auto;}

body{
	padding: 0px;
	margin:0px auto;	
   overflow-x:hidden;

}

.top{
	position: relative;
		margin-top:55px;


}

header{
	width: 100%;
	min-width: 780px;
   position: fixed;
   top:0px;
   height: 45px;
   display: flex;
   padding-top: 10px;
   background: white;
       z-index: 6;
}

.logo{
	background: url(../images/1.png) no-repeat;
    padding-left: 40px; 
    margin-left: 52px;
     margin-top: 0px;
     margin-bottom: 5px;
  font-size: 21px;
  font-family: "SimHei";
  color: rgb(57, 58, 58);
}

.blank{
	flex-grow: 1;
}
.fp{
	
	border-bottom:6px solid red;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: rgb(231, 79, 77);
  
  padding:0px 20px;
      cursor: pointer;
}
.nav{
       
       border-bottom:6px solid red;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: grey;
  margin-bottom: 0px;
  padding:0px 20px;
      cursor: pointer;
          transition: all 0.3s;
    border-bottom: 0px solid #ec0000;
    margin-left: 10px;
      outline: none;


}
.nav:hover{
	  border-bottom:6px solid red;
 color: rgb(231, 79, 77);

}

.login{
	 background:url(../images/login.png) no-repeat;
	 padding-left: 15px; 
  font-size: 14px;
  font-family: "Microsoft YaHei";
  margin-right: 52px;
}
.login :link {
   text-decoration: none;
   color: rgb(231, 79, 77);
}
 .mainbox{
	position: relative;
    height: calc(100vmin - 55px);
    display: flex;
    flex-direction: column;
    justify-content: center;
     background-color: rgba(0, 0, 0, .5);




}
.background{
	position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../images/图一.png);
    background-size: cover;
    z-index: -1;

}
.content{
  padding-left: 115px;
}
.title{
  font-size: 60px;
  font-family: "Microsoft YaHei";
  color: rgb(255, 255, 255);
}

.text{
  font-size: 21px;
  font-family: "Microsoft YaHei";
  color: rgb(255, 253, 253);
}

.button{
	padding:10px 80px;
	background: #de5f5f;
  font-size: 30px;
  font-family: "Microsoft YaHei";
  color: rgb(255, 255, 255);
  width: 340px;
    height: 60px;
    margin-top: 80px;
    border: 0px;
    cursor: pointer;
}

.content1{

	  height: 250px;
	  width: 100%;
	  background: white;   
}
ul{
	 padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
      justify-content: space-around;
      min-width: 1000px;
}
li{
	
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex:1;
    color: #8c8c8c; 
   
}
li span {  
    width: 100%;
    height: 3em;  
    font-family: "SimHei", sans-serif; 
    text-align: center;
    border-right: 2.5px solid grey;
}

li span.special{
  width: 100%;
    height: 3em;  
    font-family: "SimHei", sans-serif; 
    text-align: center;
    border:0px;  
}
    
.content2{

  height: 300px;
  background: rgb(237,237,237);
  display: flex;
  justify-content:center;
  width: 100%;
  flex-direction: column;
   align-items: center;

}
.biglogo{
  height: 300px;
 flex-grow: 0;

   justify-content: center;
   display: flex;
    background-color: #dfdfdf;
       align-items: center;
       flex-direction: column;
       min-width: 1000px;
}
.biglogo span{
      margin-top: 40px;
    color: #8c8c8c;
    font-size: 56px;
        font-family: "Microsoft YaHei", sans-serif;
}


.content3{
  background: url(../images/map.jpg) no-repeat;
  height: 400px;
      background-size: cover;
      flex-direction: column;
      align-items: center;
      display: flex;
      justify-content: center;
      min-width: 800px;

}

.check{
  font-size: 21px;
  font-family: "Microsoft YaHei";
  color: rgb(255, 255, 255);
 
      position: relative;
     margin-bottom: 0px;
     padding-bottom: 20px;

}

.check::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    left: 50%;
    margin-left: -40px;
    border-bottom: 3px solid red;
    transition: all  0.4s;
      }

.check:hover::after { 
      margin-left: -175px;
    width: 350px;
}

.city{
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: rgba(255, 255, 255, 0.8);
}

.select-area{
  margin-top: 40px;
    width: 100%;
    max-width: 2000px;
    padding: 0 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    z-index: 1;
}

.select{
      background: url(../images/email.jpg) center right 10px no-repeat, #fff;
    position: relative;
    -webkit-appearance: none;
    height: 36px;
    padding-left:10px;
    box-sizing: border-box;
    border: white solid 2px;
    cursor: pointer;
    outline: none;
 
}

.select::before {
    content: attr(selected);
    line-height: 32px;
    color: #aaa;
}                  /*div selected="省份"，把这显示出来*/

div.select-area > * {
    flex: 1 1;
    margin: 0 20px;
    max-width: 300px;
    height: 36px;
}
button{

  border: 0px;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
    background: #c00;
    letter-spacing: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: all ease .3s;
}

button:hover {
    background-color: #E31212;
    border-radius: 3px;
}

.select ul.option{
    list-style-type: none;    
    display: block;
    width: 300px;
   outline: none;
       min-width: 280px;
       display: none;
       margin-top: 3px;
       margin-left: -12px;
 
   
}

ul.option li{
 display: list-item;
  outline: none;
  color: black;
  border: 1px solid red;
    height: 25px;
  line-height: 25px;
  background:white;
  padding: 0px 20px;

}
ul.option li:hover{
  background-color: red;
  background: url(../images/icon-8.png) no-repeat left 0px rgb(190,81,71) ;
  padding-left: 20px;
  color: white;

}

.content4{
    height: 580px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(10% - 20px);
    background: #eee;
}

.content4 .pi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
color: grey;

}
.content4 h1{
    line-height: 0px;
    font-size: 2em;
    font-weight: bold;
}
img.pic{
  padding:10px;
  border: 2px solid #CCCCCC;
  background: white;
  margin-top: 8px;
transition: all ease-out 0.8s;


}
img.pic:hover{


transform: scale(1.4);
border-radius: 5%;
}

.content5{
  display: flex;
  flex-direction: row;
      height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    min-width: 1000px;
}

.imgpants{
  background: url(../images/pants.png) center center no-repeat;
      position: relative;
    flex: 8;
    background-size: cover;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    color: white;
    font-family: "Microsoft YaHei";
}

.world{
    font-size: 50px;
}

.pk{
    font-size: 35px;
}
.imgpants:after{
position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #ffffff transparent ;
}
.Time{
 font-size: 120px;
}
.newW{
  flex: 5;
      flex-direction: column;
        align-items: center;
   display: flex;
       justify-content: center;

}

.world01{
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: bold;
}
.world01 span{
  color: red;
}

.world02{
  text-indent: 2em;
  line-height: 40px;
  font-size: 18px;
  color: #CCC;
  padding: 0px 80px;
  margin-bottom: 20px;
}

button.moredetail{
      background: white;
      border: 1px solid red;
      color: red;
        text-align: right;
        font-size: 25px;
        text-indent: 0.8em;
}


button.moredetail:hover{
      background:red;
      border: 1px solid red;
      color: white;

}
.circley{
    margin-top: 25px;
}

.circley span{
      display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px #929293 solid;
    text-indent: 99999px; /*把字推不见了*/
    margin: 0 7px;
    cursor: pointer;
}
.circley span.active{
  background-color: #929293;

}
.circley span:hover{
    background-color: #929293;
  }

  .content6{
    
  display: flex;
  flex-direction: row;
      height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
}


.redb{
    flex-shrink: 1;
     flex-grow: 4;
    flex-basis: 0%;
  background: #FF3333;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.whiteb{
    
    flex-shrink: 1;
    flex-basis: 0%;
background: white;
  flex-grow: 4;
   
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Microsoft YaHei";
}
.subway{
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: 0%;
    position: relative;  
}
.subway::before{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: url(../images/meinv1.png) right center no-repeat;
    background-size: cover;
    -webkit-filter: brightness(0.6);
}

.pk1{
   font-size: 35px;
   color: white;
   margin-bottom: 10px;
}
.pk2{
   font-size: 35px;
   color: white;
       position: relative;

}
.pk2:hover::after {

    margin-left: -50px;
    width: 100px;
}
.pk2::after {

    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    width: 80px;
    left: 50%;
    margin-left: -40px;
    border-bottom: 2px solid white;
    transition: all 0.4s;
}

.chakan{
  margin-top: 20px;
  background: #FF3333;
  color: white;
  border: 1px solid white;
  text-indent: 1em;
}





.pk3{
   font-size: 35px;
   color: red;
   margin-bottom: 10px;
}
.pk4{
   font-size: 35px;
   color: red;
       position: relative;

}
.pk4:hover::after {

    margin-left: -80px;
    width: 160px;
}
.pk4::after {

    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    width: 80px;
    left: 50%;
    margin-left: -40px;
    border-bottom: 2px solid black;
    transition: all 0.5s;
}

.chakan1{
  margin-top: 20px;
  background: white;
  color: red;
  border: 1px solid red;
  text-indent: 1em;
}
.chakan1:hover{
  background: red;
  color: white;
}


.subway::after{
  position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ffffff;
  /*第二层*/
}


.content7{
   display: flex;
  flex-direction: column;
      height: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center; /*水平*/
    position: relative; 
    justify-content: center;   /*竖直*/
}
h1{
 position: relative;
}

.content7 h1:hover::after {

    margin-left: -80px;
    width: 160px;

}
.content7 h1::after {

    content: "";
    display: block;
    position: absolute;
   top: 50px;
    width: 80px;
    left: 50%;
    margin-left: -40px;
    border-bottom: 2px solid red;
    transition: all 0.5s;

}


.grey{
  color: grey;
  margin-top: 10px;
}


.content8{
    display: flex;
    flex-direction: row;
    height: 400px;
    padding:0 10%;

}

.left{
  flex:1;
  display: flex;
  flex-direction: column;
}
form.right{

      flex: 2;
    margin-left: 50px;
    position: relative;
}

.ziti{
  font-size: 14px;
}

.floatr{
  float: right;
  font-size: 12px;
  text-decoration: none;
  color: grey; 
}

.floatr a{
   text-decoration: none;
    color: grey;
}


div[data-label] {
    display: inline-block;
    width: calc(50% - 15px);
    box-sizing: border-box;
    margin: 5px;
    background: #eee;
    position: relative;
}

div[data-label]::before {
    content: attr(data-label);
    position: absolute;
    color: #000;
    font-size: 13px;
    font-family: serif;
    line-height: 36px;
    text-indent: 14px;
    pointer-events: none;
}

div[data-label]>input{
    display:inline;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 20px;
    text-indent: 80px;
        background: #eee;
     outline: none;

}


div[data-label].nima{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin: 5px;
    background: #eee;
    position: relative;
}
 textarea{
    height: 140px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: none;
    text-indent:140px;
    padding-left: 14px;
    line-height: 20px;
    padding-top: 9px;
    background: #eee;
    outline: none;
    resize: none;
}

.submit{
  width: 100%;
  margin-left: 5px;
  padding: 5px;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Microsoft YaHei";
  }

.content9{

      height: 560px;
    background: #334;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactus{

  font-size: 50px;
  font-weight: bolder;
}
span.morethingfor{
    padding: 0 20px;
    text-align: center;
    width: 20%;
}


form.subscription{
      margin-top: 40px;
    width: 50%;
    height: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
}


.emailit{
    border: none;
    padding: 0 10px;
    font-size: 20px;
    line-height: 20px;
    height: 50px;
    margin-top: 10px;
}
button.emailbtn{
padding: 0 10px;
    letter-spacing: 20px;
    text-indent: 20px;
    background: #777;
    font-size: 20px;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    margin-top: 10px;
}

.social{
      margin-top: 40px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

footer{
  background: #223;
    padding: 0 40px;
    height: 80px;
    justify-content: space-between;
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.btt{
  text-decoration: none;
   color: white;
   font-size: 25px;
   font-family: "Microsoft YaHei"
}
.btt:hover{
  text-decoration: none;
  color: white;

}